.form-name {
    background-color: rgb(47, 180, 149);
    margin-top: 100px;
    margin-left: 450px;
    margin-right: 450px;
    text-align: center;
    padding-bottom: 50px;
}

.inputField {
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    padding-top: 15px;
    padding-left: 15px;
    text-align: start;


}

input[type=text],
[type=email],
[type=password] {
    width: 80%;
    padding-top: 8px;
    margin-left: 65px;

}

#message {
    text-align: left;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
}

body {
    background-color: aliceblue;
}

button[type=submit] {
    width: 35%;
    padding-top: 9px;
    background-color: rgb(58, 142, 58);
    padding-bottom: 9px;
    margin-left: 65px;
}

.table-div {
    margin-top: 25px;
    margin-left: 450px;
    margin-right: 450px;
    text-align: center;

}

th {
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 15px;
    padding-top: 15px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
}

td {
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 15px;
    padding-top: 15px;
    text-align: left;
}

table {
    border-width: 10px;
    border: 1px solid #ddd;
}

#tableInfo tr:nth-child(even) {
    background-color: #f2f2f2;
}

#tableInfo tr:hover {
    background-color: #ddd;
}

.userInfo {
    margin-top: 25px;
    margin-bottom: 10px;
    margin-left: 450px;
    margin-right: 450px;
    text-align: center;
    background-color: rgb(61, 61, 142);
    padding-top: 4px;
    padding-bottom: 4px;
    color: aliceblue;
}

@media only screen and (max-width: 600px) {
    .form-name {
        background-color: rgb(47, 180, 149);
        
        margin-top: 100px;
        margin-left: 50px;
        margin-right: 50px;
        text-align: center;
        padding-bottom: 50px;
    }

    .inputField {
        font-size: 20px;
        font-family: 'Courier New', Courier, monospace;
        padding-top: 15px;
        padding-left: 15px;
        text-align: start;


    }

    body {
        background-color: aliceblue;
    }

    input[type=text],
    [type=email],
    [type=password] {
        width: 50%;
        padding-top: 8px;
        margin-left: 65px;

    }

    table {
        border-width: 10px;
        border: 1px solid #ddd;
    }

    #tableInfo tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    #tableInfo tr:hover {
        background-color: #ddd;
    }

    .userInfo {
        margin-top: 25px;
        margin-bottom: 10px;
        margin-left: 50px;
        margin-right: 50px;
        text-align: center;
        background-color: rgb(61, 61, 142);
        padding-top: 4px;
        padding-bottom: 4px;
        color: aliceblue;
    }

    .table-div {
        margin-top: 25px;
        margin-left: 10px;
        margin-right: 50px;
        text-align: center;

    }

    th {
        padding-left: 40px;
        padding-right: 40px;
        padding-bottom: 15px;
        padding-top: 15px;
        text-align: left;
        background-color: #04AA6D;
        color: white;
    }

    td {
        padding-left: 40px;
        padding-right: 40px;
        padding-bottom: 15px;
        padding-top: 15px;
        text-align: left;
    }

}

@media only screen and (min-width: 806px) and (min-height: 302px) and (max-width: 806px) and (max-height: 302px) {
body{
    background-color: #04AA6D;
}
}